.flex{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    
    border: 3px solid rgb(174, 28, 28);
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 16px;
    transition: 300ms;
    background-color:yellowgreen;
}
ul {
     list-style-type: none; 
    margin: 0;
    padding: 9px ;
    background-color: #8842d5;
    font-size: x-large;
    overflow: hidden;    
}
   
li {
    float: left;
   }
   
li a {
    color: white;
    display: block;
    text-align: center;
    padding: 9px 17px;
    text-decoration: none; 
   }
   
   li a:hover:not(.login) {
    background-color: #7300ff;
    color: black;
   }
   .login{
    background-color: green;
    color: black;
    float: right;
   }
   .login:hover{
    color: white;
   }

  
   .container {
    position: relative;
    width: 50%;
    max-width: 300px;
  }
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    background: black;
    background: black;
    color: white;
    width: 100%;
    transition: .7s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 0px;
    text-align: center;
  }
  .container:hover .overlay {
    opacity: 1;
  }
  